@font-face {
  font-family: DMSerifText;
  src: url("assets/fonts/DMSerifText-Regular.ttf");
}
@font-face {
  font-family: DMSerifText;
  src: url("assets/fonts/DMSerifText-Italic.ttf");
}
body {
    font-family: 'DMSerifText';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
}
.header{
    border: 1px solid red;
}
.main{
    border: 1px solid red;
}
.footer{
    border: 1px solid red;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}